<PageTitle>BlazeKit - Breaking out of layout demo</PageTitle>
<h1>Details Page</h1>

<p>This site is an example for beaking out of layouts. The site is located in Pages/(Public)/Items/Details which would imply that the layouts from (Public), Items and Details will be applied to the page.</p>
<p>Since we named the file Page@@.razor the layout inheritence will be omitted and the site will inherit the layout from Pages/Layout.razor file.</p>
