@inherits LayoutComponentBase
@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        // Call the highlight.js JavaScript library to style the code blocks if present in child pages
        JSRuntime.InvokeVoidAsync("highlight");
    }
}
<PageTitle>BlazeKit - A Meta-Framework for Blazor .NET</PageTitle>
<Header />
<ErrorBoundary>
    <ErrorContent>
        <BlazeKit.Site.Components.Error />
    </ErrorContent>
    <ChildContent>
        <main class="min-h-[calc(100vh-var(--header-height))] mb-16 mt-[80px] pl-3 pr-3">
            @Body
        </main>
    </ChildContent>
</ErrorBoundary>
@* <Footer /> *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
