@* @inherits WASMIsland *@
@code {
    [Parameter] public int CurrentCount { get; set; }

    public MyCounter()
    {

    }

    private void IncrementCount()
    {
        CurrentCount++;
    }
}
<h3>MyCounter</h3>
<p>Current Count = @CurrentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
