@inherits ReactiveComponentEnvelope
@code {
    public Islands.Components.MVVM.VMCounter ViewModel { get; set; }

    public Counter() { }

    override protected void OnInitialized()
    {
        ViewModel = new Islands.Components.MVVM.VMCounter(this);
    }

    private MarkupString AsHtml(string code)
    {
        return new MarkupString(code);
    }
}
@if(ViewModel == null) {
    <p>Loading...</p>
} else {
    <article>
        <p>Counter: @ViewModel.Counter.Value</p>
        <p>Doubled: @ViewModel.Doubled.Value</p>
        <button role="button" @onclick:preventDefault="true" @onclick="() => ViewModel.Increment()">Increment</button>
        <button role="button" @onclick:preventDefault="true" @onclick="() => ViewModel.Decrement()">Decrement</button>
    </article>
}
