@inherits LayoutComponentBase
<PageTitle>BlazeKit - 🪧 Routing</PageTitle>
<p><strong>On this site</strong</p>
<ul>
    <li><a href="/routing/#file-bases-routing">File-based Routing</a></li>
    <li><a href="/routing/#route-parameters">Route Parameters</a></li>
    <li><a href="/routing/#api-routes">API Routes</a></li>
</ul>
<div>
@Body
</div>
