<!DOCTYPE html>
<html lang="en" data-theme="cmyk">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="https://blazekit.dev/images/blazekit-social-preview-image.png" />
    <meta name="twitter:description" content="BlazeKit - A Meta-Framework for Blazor .NET" />
    <meta property="og:image" content="https://blazekit.dev/images/blazekit-social-preview-image.png" />
    <meta property="og:image:alt" content="BlazeKit - A Meta-Framework for Blazor .NET" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="BlazeKit - A Meta-Framework for Blazor .NET" />
    <meta property="og:url" content="https://blazekit.dev" />
    <meta property="og:description" content="BlazeKit - A Meta-Framework for Blazor .NET" />

    <base href="/" />
    <link rel="icon" href="images/blazekit-logo.svg" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" />
    <HeadOutlet />
    @* <script src="_framework/blazor.web.js" autostart="true"></script> *@
    <script src="_framework/blazekit.web.js" autostart="false"></script>
    <script>
         Blazor.start({
                logLevel: 0
            }).then((e) => {
                console.log('Blazor started');
            });
    </script>
</head>
<body class="h-screen">
    <AppRouter />
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</body>

</html>

