@code {

    private MarkupString AsHtml(string code)
    {
        return new MarkupString(code);
    }
}
<h1>Model View ViewModel</h1>
<p>You can even use an MVVM pattern if you like 👍</p>
<p>This Component is hydrated on mouse hover. This is archived by setting the component parameter to <code>Client="@(Hover)"</code>. Hydration is only triggered once this hydrated is terms of Blazor is starting the .NET runtime and hydrate the components marked as Blazor interactive.</p>
<BlazeKit.Website.Islands.Components.MVVM.Counter Client="@(Hover)" />
<h3>Code Example</h3>
<pre>
    <code class="lang-razor">
    @@code {
        public VMCounter ViewModel { get; set; }

        override protected void OnInitialized()
        {
            ViewModel = new VMCounter(this);
        }
    }
    </code>
    </pre>
<pre>
<code class="lang-csharp">
        @AsHtml(@"
public class VMCounter
{
    public ISignal<int> Counter { get; private set; }
    public ISignal<int> Doubled { get; private set; }


    public VMCounter(IReactiveComponent component)
    {
         this.Counter = State.New(0, component);
         this.Doubled = Derived.New(() => this.Counter.Value * 2, component);
    }

    /// <summary>
    /// Increments the counter
    /// </summary>
    public void Increment()
    {
        this.Counter.Value++;
    }
    /// <summary>
    /// Decrements the counter
    /// </summary>
    public void Decrement()
    {
        this.Counter.Value--;
    }
}
").Value
    </code>
</pre>
