@inherits LayoutComponentBase

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("highlight");
    }
}
<PageTitle>BlazeKit - ⚡ Reactivity</PageTitle>
<h2>⚡ Reactivity</h2>
<nav>
    <ul>
        <li><a href="/reactivity">Overview</a></li>
        <li><a href="/reactivity/basic">Basic</a></li>
        <li><a href="/reactivity/mvvm">MVVM</a></li>
    </ul>
</nav>
@Body
