@code {

    [Inject(Key = BlogCollection.CollectionName)]
    public BlogCollection collection { get; set; }

    private BlogSchema post;
    protected override void OnInitialized()
    {
        this.post =
            collection.Items.Cast<BlogSchema>().FirstOrDefault(
                item => item.Slug.Equals(Slug, StringComparison.InvariantCultureIgnoreCase)
            );
    }
}
<h1>BlazeKit -  @post.Title</h1>
<BlogPost Metadata="@post" />

