<h3>Details Page</h3>

<p>This site is an example for beaking out pof layouts. The site is located in Pages/(Public)/Items/Details which would imply that the layouts from (Public), Items and Details will be to the page.</p>
<p>Since we named the file Page@@.razor the layout inheritence will be omitted and the site will inherit the layout from Pages/Layout.razor</p>
