<div class="overflow-y-auto fixed max-h-[calc(100%-50px)] no-scrollbar  mt-4">
<ul class="menu w-56">
  <li>
    <h2 class="menu-title text-black">Getting Started</h2>
    <ul>
      <li><NavLink href="/docs/introduction" Match="NavLinkMatch.All">Introduction</NavLink></li>
      <li><NavLink href="/docs/installation" Match="NavLinkMatch.All">Installation</NavLink></li>
      <li><NavLink href="/docs/directory-structure" Match="NavLinkMatch.All">Directory Structure</NavLink></li>
      <li><NavLink href="/docs/blazekit-cli" Match="NavLinkMatch.All">BlazeKit CLI</NavLink></li>
      <li><NavLink href="/docs/roadmap" Match="NavLinkMatch.All">Roadmap</NavLink></li>
    </ul>
  </li>
</ul>
<ul class="menu w-56">
  <li>
    <h2 class="menu-title text-black">Reactivity</h2>
    <ul>
      <li><NavLink href="/docs/reactivity" Match="NavLinkMatch.All">Overview</NavLink></li>
      <li><NavLink href="/docs/reactivity/basic" Match="NavLinkMatch.All">Basic Example</NavLink></li>
      <li><NavLink href="/docs/reactivity/mvvm" Match="NavLinkMatch.All">MVVM Example</NavLink></li>
    </ul>
  </li>
</ul>
<ul class="menu w-56">
  <li>
    <h2 class="menu-title text-black">Routing</h2>
    <ul>
      <li><NavLink href="/docs/routing" Match="NavLinkMatch.All">Overview</NavLink></li>
      <li><NavLink href="/docs/routing/pages" Match="NavLinkMatch.All">Pages</NavLink></li>
      <li><NavLink href="/docs/routing/layouts" Match="NavLinkMatch.All">Layouts</NavLink></li>
      <li><NavLink href="/docs/routing/endpoints" Match="NavLinkMatch.All">Endpoints (API)</NavLink></li>
    </ul>
  </li>
</ul>
<ul class="menu w-56">
  <li>
    <h2 class="menu-title text-black">Interactivity</h2>
    <ul>
      <li><NavLink href="/docs/interactivity" Match="NavLinkMatch.All">Introduction</NavLink></li>
    </ul>
  </li>
</ul>
</div>
